.highlight-id {
    background-color: #6f49ac;
    color: #f1c40f;
}

.highlight-class {
    background-color: #08a349;
    color: #a50606;
}

.image-controls {
    margin-top: 10px;
}

.image-controls button {
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
}